{% extends "films/layout.html" %} {% load static %}

{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        get_main_hero('{{api_key}}','{{req_type}}');
        // get_carousel('{{api_key}}', '{{req_type}}', 'discover');
        if ('{{req_type}}' === 'movie') {
            get_carousel('{{api_key}}', '{{req_type}}', 'now_playing');
        } else {
            get_carousel('{{api_key}}', '{{req_type}}', 'airing_today');
        }
        get_carousel('{{api_key}}', '{{req_type}}', 'top_rated');
        if ('{{req_type}}' === 'movie') {
            get_carousel('{{api_key}}', '{{req_type}}', 'upcoming');
        } else {
            get_carousel('{{api_key}}', '{{req_type}}', 'on_the_air');
        }
    });
</script>
<script src="{% static 'films/js/get_main_hero.js' %}"></script>
<script src="{% static 'films/js/get_carousel.js' %}"></script>

{% endblock %}

{% block body %}
<div class="pt-5 pb-4"></div>

{# ########## HERO SECTION ########## #}
<div class="bg-darker mb-5">
    <div class="m-0">
        <div class="position-absolute w-100">
            <div id="hero-loader" class="position-relative aspect-1">
                <div class="loader-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="hero" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators opacity-30" id="hero-indicators">
            </ol>
            <div id="hero-items" class="carousel-inner">
                {# Add Hero Items Here #}
            </div>
            <a class="carousel-control-prev d-none d-sm-flex" href="#hero" role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" 
                          class="icon icon-tabler icon-tabler-chevron-right sc-arrow"
                          width="100" height="100" viewBox="0 0 24 24" stroke-width="1" 
                          stroke="#dddddd" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <polyline points="15 6 9 12 15 18" />
                </svg>
            </a>
            <a class="carousel-control-next d-none d-sm-flex" href="#hero" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg"
                           class="icon icon-tabler icon-tabler-chevron-left sc-arrow" 
                           width="100" height="100" viewBox="0 0 24 24" stroke-width="1" 
                           stroke="#dddddd" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <polyline points="9 6 15 12 9 18" />
                </svg>
            </a>
        </div>
    </div>
</div>


{# ########## DISCOVER SECTION ########## #}
{# <div class="mx-5 my-3"> #}
{#     <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3 text-shadow-1" #}
{#      data-aos="zoom-up" #}
{#      data-aos-duration="1500" #}
{#     > #}
{#         DISCOVER #}
{#     </div> #}

{#     <div class="px-5" data-aos="fade-up"> #}
{#         <div class="sc-container position-relative" id="discover"> #}
{#         </div> #}
{#     </div> #}   
{# </div> #}

{# <hr class="carousel-hr"> #}

{# ########## NOW PLAYING SECTION ########## #}
<div class="mx-5 my-3">
    <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3 text-shadow-1"
     data-aos="zoom-up"
     data-aos-duration="1500"
    >
        {% if req_type == 'movie' %}NOW PLAYING{% else %}AIRING TODAY{% endif %}
    </div>

    <div class="px-5" data-aos="fade-up">
        <div class="sc-container" id="{% if req_type == 'movie' %}now_playing{% else %}airing_today{% endif %}"></div>
    </div>   
</div>

<hr class="carousel-hr">

{# ########## TOP RATED SECTION ########## #}
<div class="mx-5 my-3">
    <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3 text-shadow-1"
     data-aos="zoom-up"
     data-aos-duration="1500"
    >
        TOP RATED
    </div>

    <div class="px-5" data-aos="fade-up">
        <div class="sc-container" id="top_rated"></div>
    </div>   
</div>

<hr class="carousel-hr">

{# ########## UPCOMING SECTION ########## #}
<div class="mx-5 my-3">
    <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3 text-uppercase text-shadow-1"
     data-aos="zoom-up"
     data-aos-duration="1500"
    >
        {% if req_type == 'movie' %}UPCOMING{% else %}ON THE AIR{% endif %}
    </div>

    <div class="px-5" data-aos="fade-up">
        <div class="sc-container" id="{% if req_type == 'movie' %}upcoming{% else %}on_the_air{% endif %}"></div>
    </div>   
</div>

<div class="small">
    <pre id="json-raw"></pre>
    {# <button class="btn btn-primary btn-lg" onClick="discover('{{api_key}}')">LOAD!</button> #}
</div>



{% endblock %}
