{% extends "films/layout.html" %}

{% block body %}

{# Header #}

<div class="position-relative vh-100 overflow-hidden">
    <div class="login-bg opacity-30 vh-100 vw-100 overflow-hidden"></div>
    <div class="position-absolute translate-middle left-50 top-50 bg-darker">

        {# Default form login #}
        <form class="text-center border border-light p-5" action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <p class="h4 mb-4">Sign in</p>
            <p class="small text-white">Want to try out the site? Use the 'demo' account</p>
            <p class="small text-white">username: demo | password: demo</p>

            {# ##############################      Alert      ############################## #}
            {% if message_error is not None %}
                <div class="alert alert-danger alert-dismissible fade show text-wrap" role="alert">
                    {{message_error}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}

            {# Username #}
            <div class="form-group text-left">
                <label for="LoginFormUsername" class="small text-muted">Username</label>
                <input type="text" id="LoginFormUsername" class="form-control mb-4" placeholder="Username" name="username">
            </div>

            {# Password #}
            <div class="form-group text-left">
                <label for="LoginFormPassword" class="small text-muted">Password</label>
            <input type="password" id="LoginFormPassword" class="form-control mb-4" placeholder="Password" name="password">
            </div>

            {# <div class="d-flex justify-content-around"> #}
            {#     <div class="mr-3"> #}
            {#         {1# Remember me #1} #}
            {#         <div class="custom-control custom-checkbox"> #}
            {#             <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember"> #}
            {#             <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label> #}
            {#         </div> #}
            {#     </div> #}
            {#     <div> #}
            {#         {1# Forgot password #1} #}
            {#         {1# <a class="deep-orange-text" href="">Forgot password?</a> #1} #}
            {#     </div> #}
            {# </div> #}

            {# Sign in button #}
            <div class="form-group my-5">
                <button class="btn btn-light-green btn-block" type="submit">Sign in</button>
            </div>

            {# Register #}
            <p>Not a member?
                <a class="deep-orange-text" href="{% url 'register' %}">Register</a>
            </p>

            {# Social login #}
            {# <p>or sign in with:</p> #}

            {# <a href="#" class="mx-3" role="button"><i class="fab fa-facebook-f deep-orange-text"></i></a> #}
            {# <a href="#" class="mx-3" role="button"><i class="fab fa-twitter deep-orange-text"></i></a> #}
            {# <a href="#" class="mx-3" role="button"><i class="fab fa-linkedin-in deep-orange-text"></i></a> #}
            {# <a href="#" class="mx-3" role="button"><i class="fab fa-github deep-orange-text"></i></a> #}

        </form>
    </div>
</div>

{% endblock %}
