{% extends "films/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

{# Header #}

<div class="position-relative min-vh-100 overflow-hidden">
    <div class="login-bg opacity-30 vh-100 vw-100"></div>
    <div class="position-absolute translate-middle left-50 top-50 bg-darker p-4 border">


        {# ##############################      Alert      ############################## #}
        {% if message_error is not None %}
        <div class="alert alert-danger alert-dismissible fade show text-wrap" role="alert">
            {{message_error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% if message_success is not None %}
        <div class="alert alert-success alert-dismissible fade show text-wrap" role="alert">
            {{message_success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <form method="POST" class="row" action="{% url 'my_account' %}">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="col-md">
                <p class="h4 mb-4">Account Settings: {{ request.user.username }}</p>
                <div class="form-group text-left row">
                    <div class="col-md">
                        {{ form.username.errors }}
                        {{ form.username | add_label_class:"small" }}
                        {% render_field form.username class+="form-control rounded-0" %}
                    </div>
                    <div class="col-md">
                        {{ form.password.errors }}
                        {{ form.password | add_label_class:"small" }}
                        {% render_field form.password class+="form-control rounded-0" type="password" %}
                    </div>
                </div>
                <div class="form-group text-left row">
                    <div class="col-md">
                        {{ form.first_name.errors }}
                        {{ form.first_name | add_label_class:"small" }}
                        {% render_field form.first_name class+="form-control rounded-0" %}
                    </div>
                    <div class="col-md">
                        {{ form.last_name.errors }}
                        {{ form.last_name | add_label_class:"small" }}
                        {% render_field form.last_name class+="form-control rounded-0" %}
                    </div>
                </div>
                <div class="form-group text-left row">
                    <div class="col-md">
                        {{ form.locale.errors }}
                        {{ form.locale | add_label_class:"small" }}
                        {% render_field form.locale class+="form-control rounded-0 custom-select" %}
                    </div>
                </div>
                <div class="form-group text-left">
                    {# {% render_field form.profile_img class+="form-control rounded-0" type="hidden"|append_attr:"id:profile_field" %} #}
                    {% render_field form.profile_img class+="form-control rounded-0" type="hidden" %}
                </div>

                <button class="btn btn-block btn-light-green mt-5" type="submit">Save Changes</button>

            </div>

            <div class="col-md">
                <p class="h4 mb-4 col-md">Select avatar:</p>
                <div id="profile_images" class="d-flex flex-wrap justify-content-center">
                </div>
            </div>

        </form>

        <script src="{% static 'films/js/list_user_icons.js' %}"></script>
        <script>
            list_user_icons({{ request.user.profile_img }});
        </script>

    </div>
</div>

{% endblock %}
