{% extends "films/layout.html" %}

{% block body %}

{# Header #}

<div class="position-relative vh-100 overflow-hidden">
    <div class="login-bg opacity-30 vh-100 vw-100 overflow-hidden"></div>
    <div class="position-absolute translate-middle left-50 top-50 bg-darker">
        {# Default form register #}
        <form class="text-center border border-light p-5" action="{% url 'register' %}" method="POST">
            {% csrf_token %}

            <p class="h4 mb-4">Sign up</p>

            {# ##############################      Alert      ############################## #}
            {% if message_error is not None %}
                <div class="alert alert-danger alert-dismissible fade show text-wrap" role="alert">
                    {{message_error}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}

            <div class="form-row mb-4 form-group">
                <div class="col text-left">
                    {# First name #}
                    <label for="RegisterFormFirstName" class="small text-muted">First Name</label>
                    <input type="text" id="RegisterFormFirstName" class="form-control" placeholder="First name" name="first_name">
                </div>
                <div class="col text-left">
                    {# Last name #}
                    <label for="RegisterFormLastName" class="small text-muted">Last Name</label>
                    <input type="text" id="RegisterFormLastName" class="form-control" placeholder="Last name" name="last_name">
                </div>
            </div>

            {# Username #}
            <div class="form-group text-left">
                <label for="RegisterFormUsername" class="small text-muted">Username</label>
                <input type="text" id="RegisterFormUsername" class="form-control mb-4" placeholder="Username" name="username">
            </div>

            {# Password #}
            <div class="form-row form-group">
                <div class="col text-left">
                    <label for="RegisterFormPassword" class="small text-muted">Password</label>
                    <input type="password" id="RegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="PasswordHelpBlock" name="password">
                </div>
                <div class="col text-left">
                    <label for="RegisterFormConfirmation" class="small text-muted">Confirm Password</label>
                    <input type="password" id="RegisterFormConfirmation" class="form-control" placeholder="Confirm Password" aria-describedby="PasswordHelpBlock" name="confirmation">
                </div>
            </div>

            {# Confirmation #}

            {# Sign up button #}
            <div class="form-group my-5">
                <button class="btn btn-light-green btn-block" type="submit">Sign Up</button>
            </div>

            {# Register #}
            <p>
                Already have an account? <a class="deep-orange-text" href="{% url 'login' %}">Log In here.</a>
            </p>

            {# Social register #}
            {# <p>or sign up with:</p> #}

            {# <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f deep-orange-text"></i></a> #}
            {# <a href="#" class="mx-2" role="button"><i class="fab fa-twitter deep-orange-text"></i></a> #}
            {# <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in deep-orange-text"></i></a> #}
            {# <a href="#" class="mx-2" role="button"><i class="fab fa-github deep-orange-text"></i></a> #}

            {# <hr> #}

            {# Terms of service #}
            {# <p>By clicking #}
            {#     <em>Sign up</em> you agree to our #}
            {#     <a class="deep-orange-text" href="" target="_blank">terms of service</a> #}

        </form>
        {# Default form register #}
    </div>
</div>

{% endblock %}
