{% extends "films/layout.html" %} {% load static %}

{% block script %}

{% endblock %}

{% block title %}  {% endblock %}

{% block body %}

{# ############### HERO SECTION ############### #}
<div class="bg-darker position-relative container-fluid hero-main mb-5" id="hero-main">
    <div class="position-absolute left-50 top-50 hide-loader">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="details"></div>
</div>

{# ############### BODY SECTION ############### #}
<div class="container">

    {# Cast #}
    <div class="mb-3">
        <div class="font-title h3"
         data-aos="fade-right"
         data-aos-anchor-placement="center-center"
            >Cast</div>
        <div id="cast" class="font-body"></div>
    </div>

    {# Trailers #}
    <div class="mb-3">
        <div class="font-title h3">Trailers</div>
        <div id="trailers"></div>
    </div>

    {# Reviews #}
    <div class="mb-3">
        <div class="font-title h3">Reviews</div>
        <div id="reviews"></div>
    </div>

</div>

{# <h6>{{api_key}}</h6> #}
{# <h6>{{req_id}}</h6> #}
{# <h6>{{req_type}}</h6> #}
{# <div id="url"></div> #}
<pre id="response" class="small font-body-b"></pre>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        {# Fetch the Hero section #}
        detail('{{api_key}}', '{{req_type}}', '{{req_id}}');
        {# Fetch the Cast #}
        get_cast('{{api_key}}', '{{req_type}}', '{{req_id}}');
        {# Fetch Trailers #}
        get_trailers('{{api_key}}', '{{req_type}}', '{{req_id}}');
        {# Fetch Reviews #}
        get_reviews('{{api_key}}', '{{req_type}}', '{{req_id}}');
    });
</script>
<script src="{% static 'films/js/detail.js' %}"></script>
<script src="{% static 'films/js/cast.js' %}"></script>
<script src="{% static 'films/js/trailers.js' %}"></script>
<script src="{% static 'films/js/reviews.js' %}"></script>

{% endblock %}
