{% extends "films/layout.html" %} {% load static %}

{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        hero('{{api_key}}');
        get_carousel('{{api_key}}', '{{req_type}}', 'discover');
        get_carousel('{{api_key}}', '{{req_type}}', 'popular');
        get_carousel('{{api_key}}', '{{req_type}}', 'top_rated');
        get_carousel('{{api_key}}', '{{req_type}}', 'upcoming');
    });
</script>
<script src="{% static 'films/js/hero.js' %}"></script>
<script src="{% static 'films/js/get_carousel.js' %}"></script>

{% endblock %}

{% block body %}


{# ########## HERO SECTION ########## #}
<div class="bg-darker mb-5 vh-100">
    <div class="m-0">
        <div class="position-absolute w-100">
            <div id="hero-loader" class="position-relative vh-100">
                <div class="loader-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="vh-100" id="hero">
        </div>
    </div>
</div>


{# ########## DISCOVER SECTION ########## #}
<div class="mx-5 my-3">
    <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3"
     data-aos="fade-right"
     data-aos-anchor-placement="top-center"
    >
        DISCOVER
    </div>

    <div class="px-5">
        <div class="sc-container position-relative" id="discover">
        </div>
    </div>   
</div>

<hr class="carousel-hr">

{# ########## POPULAR SECTION ########## #}
<div class="mx-5 my-3">
    <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3"
     data-aos="fade-right"
     data-aos-anchor-placement="top-center"
    >
        POPULAR
    </div>

    <div class="px-5">
        <div class="sc-container" id="popular"></div>
    </div>   
</div>

{# AOS DEBUGGING #}
{# <div class="red p-5 m-5" data-aos="fade-up" #}
     {# data-aos-anchor-placement="center-center"> #}
    {# <h1>ANIMATE ME BABY</h1> #}
{# </div> #}

<hr class="carousel-hr">

{# ########## TOP RATED SECTION ########## #}
<div class="mx-5 my-3">
    <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3"
     data-aos="fade-right"
     data-aos-anchor-placement="top-center"
    >
        TOP RATED
    </div>

    <div class="px-5">
        <div class="sc-container" id="top_rated"></div>
    </div>   
</div>


<hr class="carousel-hr">

{# ########## UPCOMING SECTION ########## #}
<div class="mx-5 my-3">
    <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3"
     data-aos="fade-right"
     data-aos-anchor-placement="top-center"
    >
        UPCOMING
    </div>

    <div class="px-5">
        <div class="sc-container" id="upcoming"></div>
    </div>   
</div>

<div class="small">
    <pre id="json-raw"></pre>
    {# <button class="btn btn-primary btn-lg" onClick="discover('{{api_key}}')">LOAD!</button> #}
</div>

<hr class="carousel-hr">


{% endblock %}
