{% extends "films/layout.html" %}

{% block body %}

{# Header #}

<div class="position-relative vh-100 overflow-hidden">
    <div class="login-bg opacity-30 vh-100 vw-100 overflow-hidden"></div>
    <div class="position-absolute translate-middle left-50 top-50 bg-darker">

        {# Default form login #}
        <form class="text-center border border-light p-5" action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <p class="h4 mb-4">Sign in</p>

            {# ##############################      Alert      ############################## #}
            {% if message_error is not None %}
                <div class="alert alert-danger alert-dismissible fade show text-wrap" role="alert">
                    {{message_error}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}

            {# Email #}
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="username">

            {# Password #}
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password">

            <div class="d-flex justify-content-around">
                <div class="mr-3">
                    {# Remember me #}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    {# Forgot password #}
                    <a class="deep-orange-text" href="">Forgot password?</a>
                </div>
            </div>

            {# Sign in button #}
            <button class="btn btn-light-green btn-block my-4" type="submit">Sign in</button>

            {# Register #}
            <p>Not a member?
                <a class="deep-orange-text" href="{% url 'register' %}">Register</a>
            </p>

            {# Social login #}
            <p>or sign in with:</p>

            <a href="#" class="mx-3" role="button"><i class="fab fa-facebook-f deep-orange-text"></i></a>
            <a href="#" class="mx-3" role="button"><i class="fab fa-twitter deep-orange-text"></i></a>
            <a href="#" class="mx-3" role="button"><i class="fab fa-linkedin-in deep-orange-text"></i></a>
            <a href="#" class="mx-3" role="button"><i class="fab fa-github deep-orange-text"></i></a>

        </form>
    </div>
</div>

{% endblock %}
