{% extends "films/layout.html" %}

{% block body %}

{# Header #}

{# <div class="position-relative vh-100"> #}
{#     <div class="position-absolute translate-middle left-50 top-50"> #}
{#         <div class="p-3"> #}
{#             <h1 class="font-title text-center mb-3">Login</h1> #}

{#             {% if message %} #}
{#             <div>{{ message }}</div> #}
{#             {% endif %} #}

{#             <form action="{% url 'login' %}" method="post"> #}
{#                 {% csrf_token %} #}
{#                 <div class="form-group"> #}
{#                     <input autofocus class="form-control" type="text" name="username" placeholder="Username"> #}
{#                 </div> #}
{#                 <div class="form-group"> #}
{#                     <input class="form-control" type="password" name="password" placeholder="Password"> #}
{#                 </div> #}
{#                 <div class="w-100"> #}
{#                     <input class="btn btn-success btn-block mt-3" type="submit" value="Login"> #}
{#                 </div> #}
{#             </form> #}

{#             <div class="text-center mt-2"> #}
{#                 Don't have an account? <a href="{% url 'register' %}">Register here.</a> #}
{#             </div> #}
{#         </div> #}
{#     </div> #}
{# </div> #}

<div class="position-relative vh-100">
    <div class="position-absolute translate-middle left-50 top-50">
        <!-- Default form login -->
        <form class="text-center border border-light p-5" action="{% url 'login' %}">
            {% csrf_token %}

            <p class="h4 mb-4">Sign in</p>

            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="username">

            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password">

            <div class="d-flex justify-content-around">
                <div class="mr-3">
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a class="deep-orange-text" href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-light-green btn-block my-4" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a class="deep-orange-text" href="{% url 'register' %}">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>

            <a href="#" class="mx-3" role="button"><i class="fab fa-facebook-f deep-orange-text"></i></a>
            <a href="#" class="mx-3" role="button"><i class="fab fa-twitter deep-orange-text"></i></a>
            <a href="#" class="mx-3" role="button"><i class="fab fa-linkedin-in deep-orange-text"></i></a>
            <a href="#" class="mx-3" role="button"><i class="fab fa-github deep-orange-text"></i></a>

        </form>
        <!-- Default form login -->
    </div>
</div>

{% endblock %}
