{% extends "films/layout.html" %}

{% block body %}

{# Header #}

<div class="position-relative vh-100 overflow-hidden">
    <div class="login-bg opacity-30 vh-100 vw-100 overflow-hidden"></div>
    <div class="position-absolute translate-middle left-50 top-50 bg-darker">
        {# Default form register #}
        <form class="text-center border border-light p-5" action="{% url 'register' %}" method="POST">
            {% csrf_token %}

            <p class="h4 mb-4">Sign up</p>

            {# ##############################      Alert      ############################## #}
            {% if message_error is not None %}
                <div class="alert alert-danger alert-dismissible fade show text-wrap" role="alert">
                    {{message_error}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}

            <div class="form-row mb-4">
                <div class="col">
                    {# First name #}
                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    {# Last name #}
                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                </div>
            </div>

            {# E-mail #}
            <input type="email" id="RegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="username">

            {# Password #}
            <input type="password" id="RegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="PasswordHelpBlock" name="password">
            <small id="PasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>

            {# Confirmation #}
            <input type="password" id="RegisterFormPassword" class="form-control" placeholder="Confirm Password" aria-describedby="PasswordHelpBlock" name="confirmation">

            {# Sign up button #}
            <button class="btn btn-light-green my-4 btn-block" type="submit">Sign in</button>

            {# Register #}
            <p>
                Already have an account? <a class="deep-orange-text" href="{% url 'login' %}">Log In here.</a>
            </p>

            {# Social register #}
            <p>or sign up with:</p>

            <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f deep-orange-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-twitter deep-orange-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in deep-orange-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-github deep-orange-text"></i></a>

            <hr>

            {# Terms of service #}
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a class="deep-orange-text" href="" target="_blank">terms of service</a>

        </form>
        {# Default form register #}
    </div>
</div>

{% endblock %}
