{% extends "films/layout.html" %}
{% load static %}

{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        list_user_items('{{api_key}}', '{{user_item_type}}');
    });
</script>

<script src="{% static 'films/js/list_user_items.js' %}"></script>

{% endblock %}

{% block body %}

<div id="spacer" class="pt-5 m-4"></div>

<div class="container mb-5">
    <div id="section_header">
        <div class="p-2 font-body-el h3 letter-space-5 text-center mt-3 text-shadow-1 text-uppercase"
         data-aos="zoom-up"
         data-aos-duration="1500"
        >
        {{ user_item_type }}
        </div>
    </div>
    <div id="parent_{{user_item_type}}" class="grid">

    </div>
</div>

{% endblock %}
