.w-10 {
    width: 10%;
    flex: 0 0 auto;
}

.mvh-50 {
    max-height: 50vh;
}

.bottom-fade {
    background: linear-gradient(to bottom,
                                rgba(0, 0, 0, 0.0) 45%,
                                rgba(00, 00, 00, 1));
}

.text-shadow-1 {
    text-shadow: 1px 1px 2px black;
}

.bg-darker {
    background: rgba(0, 0, 0, 0.8);
}

.border-darker {
    border: solid 1px rgba(0, 0, 0, 0.8);
}

.bgs-100 {
    background-size: 100%;
}

.hide-me {
    opacity: 0;
}

.slow-internet-gradient {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
}

.labor-worker-gradient {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.night-shift-gradient {
    background-color: #2b4162;
    background-image: linear-gradient(148deg, #2b4162 0%, #12100e 74%);
}

/* PROFILE PLACEHOLDER */
.profile-placeholder {
    height: 450px !important;
    width: 300px !important;
}

/* SLICK CAROUSEL STYLE */
.sc-container {
    padding: 0px 20px;
}
/* Arrows */
.slick-custom-prev,
.slick-custom-next
{
    font-size: .8rem;
    line-height: 1;

    position: absolute;
    top: 50%;

    display: block;

    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: #f8f9fa;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
}
.slick-custom-prev
{
    left: -20px;
}
.slick-custom-next
{
    right: -20px;
}
.slick-hero-prev,
.slick-hero-next {
    font-size: 1.5rem;
    opacity: 0.5;
    text-shadow: 2px 2px 3px black;
    /* height: 100%; */
    padding: 0px 10px;
}
.slick-hero-prev {
    left: 0px;
}
.slick-hero-next {
    right: 0px;
}

.sc-arrow {
    opacity: 1;
}
.sc-arrow:hover {
    color: orange;
}

/* FONTS */

@font-face {
font-family: "Farro";
src: url("../webfonts/Farro-Regular.ttf");
}

@font-face {
font-family: "Calistoga";
src: url("../webfonts/Calistoga-Regular.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../webfonts/BebasNeue-Regular.ttf")
}

@font-face {
font-family: "Encode Sans Semi Condensed";
src: url("../webfonts/EncodeSansSemiCondensed-Medium.ttf");
}
@font-face {
font-family: "Encode Sans Semi Condensed-Bold";
src: url("../webfonts/EncodeSansSemiCondensed-Bold.ttf");
}
@font-face {
font-family: "Encode Sans Semi Condensed-Light";
src: url("../webfonts/EncodeSansSemiCondensed-Light.ttf");
}
@font-face {
font-family: "Encode Sans Semi Condensed-ExtraLight";
src: url("../webfonts/EncodeSansSemiCondensed-ExtraLight.ttf");
}

.font-brand {
    font-family: 'Bebas Neue', cursive;
}

.font-title {
    font-family: 'Farro', sans-serif;
}

.font-body {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: medium;
}
.font-body-b {
    font-family: 'Encode Sans Semi Condensed-Bold', sans-serif;
}
.font-body-l {
    font-family: 'Encode Sans Semi Condensed-Light', sans-serif;
}
.font-body-el {
    font-family: 'Encode Sans Semi Condensed-ExtraLight', sans-serif;
}


/* LOGO */
.showbox-b {
    font-size: 2rem;
}

/* HERO */
.hero-main {
    position: relative;
    margin: 0;
}


/* WOW Animation */
.wow {
  visibility: hidden;
}

.mw-154px {
    width: 154px;
}

.mh-231px {
    height: 231px;
}
